body{
	background-color: #000;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	}


h1{
font-family: 'Montserrat', sans-serif;
	font-size: 72px;
	font-weight: 700;
	

}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #1DDEDE;
	font-weight: 300;
	text-align: left;

}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	color: #1DDEDE;
	font-weight: 700;
}



p {
	color: #1DDEDE;
	text-align: left;
}

.container{
	background-color: #000;
	width: 960px;
	margin-left: auto;
	margin-right: auto;

}


header{
	background-image: url(../images/banner2.gif);
	background-size: cover;
	height: auto;
	text-align: center;
	padding: 50px;
	max-width: 100%;

	
}

.logo {
	height: 60px;
    width: 160px;
}

.portrait {
	max-width: 100%;
	
}

nav{
	background-color: #1DDEDE;
	text-align: center;

}

nav ul{
	list-style-type: none;
	padding-left: 0;
}

nav li{
	display: inline;
}

nav a:link{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	width: 150px;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

nav a:visited {
	color: #6F2006;
}
nav li:hover {
	background-color: #fff;
	text-decoration: none;
	font-weight: bold;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #fff;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
	background: #EA3131;
  color: white;
}


	
.contact {
		
	display: inline-block; 
	width:100px;
    max-width: 100%;
    height: auto;
    margin: 30px auto 30px auto;
    padding: 20px;
}	


section{
	width: 690px ;
}



.footer{
	clear: both;
	font-size: 8px;
	background-color: #333;
	color: #fff;
	bottom: 0;
}
